extends layout

block content
  h1= title
  p Welcome to #{title}
  - for pokemon in pokemons
    a(href="/pokemon/" + pokemon.id method="get")
        li= pokemon.name
  br
  a(href="/pokemon")
    p Click to go home

  br
  h1 Add Pokemon Name
    form(action="pokemon/new" , method="post")
        div.input
            span.label
            input(type="text", name="name")
        div.actions
            input(type="submit", value="add")
